src/main/resources/jpylizer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jpylyzer" type="jpylyzerType"/>
  <xs:complexType name="contiguousCodestreamBoxType">
    <xs:sequence>
      <xs:element type="sizType" name="siz"/>
      <xs:element type="codType" name="cod"/>
      <xs:element type="qcdType" name="qcd"/>
      <xs:element type="comType" name="com" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="tilePartsType" name="tileParts"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="signatureBox"/>
      <xs:element type="fileTypeBoxType" name="fileTypeBox"/>
      <xs:element type="jp2HeaderBoxType" name="jp2HeaderBox"/>
      <xs:element type="contiguousCodestreamBoxType" name="contiguousCodestreamBox"/>
      <xs:element type="xs:string" name="compressionRatio"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jpylyzerType">
    <xs:sequence>
      <xs:element type="toolInfoType" name="toolInfo"/>
      <xs:element type="fileInfoType" name="fileInfo"/>
      <xs:element type="xs:string" name="isValidJP2"/>
      <xs:element type="xs:string" name="tests"/>
      <xs:element type="propertiesType" name="properties"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resolutionBoxType">
    <xs:sequence>
      <xs:element type="captureResolutionBoxType" name="captureResolutionBox"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileInfoType">
    <xs:sequence>
      <xs:element type="xs:string" name="fileName"/>
      <xs:element type="xs:string" name="filePath"/>
      <xs:element type="xs:string" name="fileSizeInBytes"/>
      <xs:element type="xs:string" name="fileLastModified"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sotType">
    <xs:sequence>
      <xs:element type="xs:string" name="lsot"/>
      <xs:element name="isot">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="psot"/>
      <xs:element name="tpsot">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tnsot">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jp2HeaderBoxType">
    <xs:sequence>
      <xs:element type="imageHeaderBoxType" name="imageHeaderBox"/>
      <xs:element type="colourSpecificationBoxType" name="colourSpecificationBox"/>
      <xs:element type="resolutionBoxType" name="resolutionBox"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="codType">
    <xs:sequence>
      <xs:element type="xs:string" name="lcod"/>
      <xs:element type="xs:string" name="precincts"/>
      <xs:element type="xs:string" name="sop"/>
      <xs:element type="xs:string" name="eph"/>
      <xs:element type="xs:string" name="order"/>
      <xs:element type="xs:string" name="layers"/>
      <xs:element type="xs:string" name="multipleComponentTransformation"/>
      <xs:element type="xs:string" name="levels"/>
      <xs:element type="xs:string" name="codeBlockWidth"/>
      <xs:element type="xs:string" name="codeBlockHeight"/>
      <xs:element type="xs:string" name="codingBypass"/>
      <xs:element type="xs:string" name="resetOnBoundaries"/>
      <xs:element type="xs:string" name="termOnEachPass"/>
      <xs:element type="xs:string" name="vertCausalContext"/>
      <xs:element type="xs:string" name="predTermination"/>
      <xs:element type="xs:string" name="segmentationSymbols"/>
      <xs:element type="xs:string" name="transformation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="imageHeaderBoxType">
    <xs:sequence>
      <xs:element type="xs:string" name="height"/>
      <xs:element type="xs:string" name="width"/>
      <xs:element type="xs:string" name="nC"/>
      <xs:element type="xs:string" name="bPCSign"/>
      <xs:element type="xs:string" name="bPCDepth"/>
      <xs:element type="xs:string" name="c"/>
      <xs:element type="xs:string" name="unkC"/>
      <xs:element type="xs:string" name="iPR"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="toolInfoType">
    <xs:sequence>
      <xs:element type="xs:string" name="toolName"/>
      <xs:element type="xs:string" name="toolVersion"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fileTypeBoxType">
    <xs:sequence>
      <xs:element type="xs:string" name="br"/>
      <xs:element type="xs:string" name="minV"/>
      <xs:element type="xs:string" name="cL"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tilePartType">
    <xs:sequence>
      <xs:element type="sotType" name="sot"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comType">
    <xs:sequence>
      <xs:element name="lcom">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="15"/>
            <xs:enumeration value="347"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="rcom"/>
      <xs:element name="comment">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Kakadu-v7.2"/>
            <xs:enumeration value="Kdu-Layer-Info: log_2{Delta-D(squared-error)/Delta-L(bytes)}, L(bytes)*-175.6, 3.6e+006*-176.8,
                    3.6e+006*-177.9, 3.6e+006*-179.1, 3.6e+006*-180.3, 3.6e+006*-181.5, 3.7e+006*-182.6,
                    3.7e+006*-183.8, 3.7e+006*-185.0, 3.7e+006*-186.1, 3.7e+006*-187.3, 3.7e+006*-188.5,
                    3.7e+006*-189.7, 3.7e+006*-190.8, 3.7e+006*-192.0, 3.7e+006*-192.0, 6.6e+006*
                "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sizType">
    <xs:sequence>
      <xs:element type="xs:string" name="lsiz"/>
      <xs:element type="xs:string" name="rsiz"/>
      <xs:element type="xs:string" name="xsiz"/>
      <xs:element type="xs:string" name="ysiz"/>
      <xs:element type="xs:string" name="xOsiz"/>
      <xs:element type="xs:string" name="yOsiz"/>
      <xs:element type="xs:string" name="xTsiz"/>
      <xs:element type="xs:string" name="yTsiz"/>
      <xs:element type="xs:string" name="xTOsiz"/>
      <xs:element type="xs:string" name="yTOsiz"/>
      <xs:element type="xs:string" name="numberOfTiles"/>
      <xs:element type="xs:string" name="csiz"/>
      <xs:element type="xs:string" name="ssizSign"/>
      <xs:element type="xs:string" name="ssizDepth"/>
      <xs:element type="xs:string" name="xRsiz"/>
      <xs:element type="xs:string" name="yRsiz"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qcdType">
    <xs:sequence>
      <xs:element type="xs:string" name="lqcd"/>
      <xs:element type="xs:string" name="qStyle"/>
      <xs:element type="xs:string" name="guardBits"/>
      <xs:element name="epsilon" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tilePartsType">
    <xs:sequence>
      <xs:element type="tilePartType" name="tilePart" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="captureResolutionBoxType">
    <xs:sequence>
      <xs:element type="xs:string" name="vRcN"/>
      <xs:element type="xs:string" name="vRcD"/>
      <xs:element type="xs:string" name="hRcN"/>
      <xs:element type="xs:string" name="hRcD"/>
      <xs:element type="xs:string" name="vRcE"/>
      <xs:element type="xs:string" name="hRcE"/>
      <xs:element type="xs:string" name="vRescInPixelsPerMeter"/>
      <xs:element type="xs:string" name="hRescInPixelsPerMeter"/>
      <xs:element type="xs:string" name="vRescInPixelsPerInch"/>
      <xs:element type="xs:string" name="hRescInPixelsPerInch"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="colourSpecificationBoxType">
    <xs:sequence>
      <xs:element type="xs:string" name="meth"/>
      <xs:element type="xs:string" name="prec"/>
      <xs:element type="xs:string" name="approx"/>
      <xs:element type="xs:string" name="enumCS"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>